<%= form_for @user, url: create_session_path do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :password %> <br>
    <%= f.text_field :password %>

  </div>
  <br>
  <div class="button">
    <%= f.submit "Sign In" %>
  </div>
<%end%>
